@page
@model WEB.Pages.Productos.DetalleModel
@{
}

<div class="container" style="max-width: 700px;">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Detalle del Producto</h2>
    </div>

    <div class="card mb-3 w-100 shadow-sm">
        <div class="card-body">

            <h5 class="card-title">
                @Model.producto.Nombre
            </h5>

            <p class="card-text">
                <div>
                    <b>Descripción:</b>
                    @Model.producto.Descripcion
                </div>

                <div>
                    <b>Precio:</b>
                    ₡ @Model.producto.Precio
                </div>

                <div>
                    <b>Precio USD:</b>
                    $ @Model.producto.PrecioUSD
                </div>

                <div>
                    <b>Stock:</b>
                    @Model.producto.Stock
                </div>

                <div>
                    <b>Categoría:</b>
                    @Model.producto.Categoria
                </div>

                <div>
                    <b>Subcategoría:</b>
                    @Model.producto.SubCategoria
                </div>

                <div>
                    <b>Código de barras:</b>
                    @Model.producto.CodigoBarras
                </div>
            </p>

        </div>
    </div>

    <a class="btn btn-primary" asp-page="./Index">Regresar</a>

    <a class="btn btn-warning"
       asp-page="./Editar"
       asp-route-id="@Model.producto.Id">
        Editar
    </a>
</div>
